# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=your_password
DB_NAME=odontoshop

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=your_password

# JWT
JWT_SECRET=your_jwt_secret_key

# Server
PORT=3001
