# Variables de entorno
.env
.env.local
.env.development
.env.production
.env.*.local

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test binary
*.test

# Output
*.out

# Vendor
vendor/

# Go workspace
go.work

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

go.sum